<section class="bg-gray-200 rounded text-center my-4 py-6">
  <h1 class="text-4xl my-6 font-thin"><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p class="text-xl my-6 font-thin">A productive web framework that<br/>does not compromise speed or maintainability.</p>
</section>

<section class="flex justify-between">
  <article class="flex-1">
    <h2 class="text-3xl my-6 font-thin">Resources</h2>
    <ul class="list-disc list-inside">
      <li>
        <a href="https://hexdocs.pm/phoenix/overview.html" class="text-blue-600">Guides &amp; Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix" class="text-blue-600">Source</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix/blob/v1.4/CHANGELOG.md" class="text-blue-600">v1.4 Changelog</a>
      </li>
    </ul>
  </article>
  <article class="flex-1">
    <h2 class="text-3xl my-6 font-thin" class="text-blue-600">Help</h2>
    <ul class="list-disc list-inside">
      <li>
        <a href="https://elixirforum.com/c/phoenix-forum" class="text-blue-600">Forum</a>
      </li>
      <li>
        <a href="https://webchat.freenode.net/?channels=elixir-lang" class="text-blue-600">#elixir-lang on Freenode IRC</a>
      </li>
      <li>
        <a href="https://twitter.com/elixirphoenix" class="text-blue-600">Twitter @elixirphoenix</a>
      </li>
    </ul>
  </article>
</section>
